<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        
        {# {% 저는 주석을 달 수 있습니다 %} #}

        {% for movie in movies %}    
            {% if movie == '조커' %}
                <li>{{ movie }} || 이 영화 진짜 재밌어 </li>
            {% elif movie == '겨울왕국2' %}
                 <li>{{ movie }} || 울라프 </li>
            {% else %}
                <li>{{ movie }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>